@inject SignInManager<ApplicationUser> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}
<nav class="nav flex-column gap-1">
    <a class="nav-link rounded px-3 py-2 d-flex align-items-center gap-2 manage-nav-link @(ManageNavPages.IndexNavClass(ViewContext) != null ? "active" : "")" id="profile" asp-page="./Index">
        <i class="bi bi-person"></i> Profile
    </a>
    <a class="nav-link rounded px-3 py-2 d-flex align-items-center gap-2 manage-nav-link @(ManageNavPages.EmailNavClass(ViewContext) != null ? "active" : "")" id="email" asp-page="./Email">
        <i class="bi bi-envelope"></i> Email
    </a>
    <a class="nav-link rounded px-3 py-2 d-flex align-items-center gap-2 manage-nav-link @(ManageNavPages.ChangePasswordNavClass(ViewContext) != null ? "active" : "")" id="change-password" asp-page="./ChangePassword">
        <i class="bi bi-key"></i> Password
    </a>
    <a class="nav-link rounded px-3 py-2 d-flex align-items-center gap-2 manage-nav-link" id="two-factor" asp-page="./TwoFactorAuthentication">
        <i class="bi bi-phone"></i> Two-Factor Auth (2FA)
    </a>
    <a class="nav-link rounded px-3 py-2 d-flex align-items-center gap-2 manage-nav-link @(ManageNavPages.PersonalDataNavClass(ViewContext) != null ? "active" : "")" id="personal-data" asp-page="./PersonalData">
        <i class="bi bi-shield-lock"></i> Personal Data
    </a>
</nav>
